/* global.css */


/* Importation de Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'slick-carousel/slick/slick.css'; 
@import 'slick-carousel/slick/slick-theme.css';

/* Styles généraux pour l'application */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  position: relative; /* Assurez-vous que le contexte de la page permet une superposition correcte */
  z-index: 1;
}
/* Définir un comportement de défilement fluide */
html {
    scroll-behavior: smooth;
  }

  div.css-1bupzq4-MuiContainer-root {
    padding-left: 1px;
    padding-right: 1px;
}
  @media (min-width: 1200px){
  main.css-19xko21-MuiContainer-root{
    width: 100%;    
  }
}

@media (max-width: 1200pc){
  div.css-1bupzq4-MuiContainer-root{
    width: 405px;
  }
}