/* styles/globals.css */

/* Importation de Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'slick-carousel/slick/slick.css'; 
@import 'slick-carousel/slick/slick-theme.css';

/* Styles généraux pour l'application */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  position: relative; /* Assurez-vous que le contexte de la page permet une superposition correcte */
  z-index: 1;
}

.search-results {
  position: sticky;
  top: 0; /* Cela la fixe juste sous l'en-tête */
  z-index: 10; /* Assure-toi que la recherche est toujours au-dessus */
}


/* Personnalisation de Bootstrap pour adapter à la charte graphique */
.btn-primary {
  background-color: #F5F5F5;
  border-color: #F5F5F5;
}

/* Changer la couleur de fond du Header */
.MuiAppBar-root {
  background-color: #F8F8F8 !important; 
  box-shadow: none; 
  position: fixed;
}

/* Optionnel : Cibler les liens du header pour les rendre blancs */
.MuiButton-root, .MuiTypography-root {
  color: black !important;
}

/* Styles pour les points de navigation */
.custom-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d3d3d3; /* Couleur de base des points */
  margin: 0 5px;
  display: inline-block;
  cursor: pointer;
}

.custom-dot span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d3d3d3; /* Couleur du point de base */
}

.slick-active .custom-dot span {
  background-color: #f8c8d8; /* Couleur active, comme owl-dot active */
}

/* Style de base pour le conteneur du carrousel automatique */
.auto-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Assure que le conteneur occupe toute la largeur de l'écran */
  height: auto; /* Hauteur ajustée en fonction du contenu */
  position: fixed; /* Pour les ajustements selon les media queries */
  padding-top: 10vh; /* Espacement par défaut en haut */
  padding-bottom: 1vh; /* Espacement inférieur par défaut */
}

/* Pour les écrans mobiles (moins de 480px) */
@media (max-width: 480px) {
  .auto-carousel-container {
    padding-top: 12vh; /* Un peu plus d'espace en haut pour les petits écrans */
    padding-bottom: 1vh; /* Espacement bas ajusté */
    height: auto; /* Laissez la hauteur ajustée à son contenu */
  }
}

/* Pour les écrans moyens (tablettes, 481px à 768px) */
@media (max-width: 768px) {
  .auto-carousel-container {
    padding-top: 15vh; /* Un peu plus d'espace en haut pour les tablettes */
    padding-bottom: 1vh; /* Espacement du bas pour éviter le chevauchement */
  }
}

/* Pour les écrans plus larges (PC et tablettes larges, 769px et plus) */
@media (min-width: 769px) {
  .auto-carousel-container {
    margin-top: 5vh; /* Plus d'espace au-dessus du carrousel sur les grands écrans */
    padding-bottom: 10vh; /* Espacement du bas pour éviter le chevauchement avec le footer */
  }
}

/* Carrousel manuel */
.manual-carousel-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* Pour les écrans mobiles (moins de 768px) */
@media (max-width: 768px) {
  .manual-carousel-container {
    margin-bottom: 10vh; /* 10% de la hauteur de la fenêtre pour les mobiles */
  }
}

/* Pour les écrans plus larges (PC et tablettes) */
@media (min-width: 769px) {
  .manual-carousel-container {
    margin-bottom: 0; /* Pas d'espace pour les PC */
  }
}

.promo-image {
  @media (max-width: 768px) {
    height: 25vh;
  }
  @media (max-width: 576px) {
    height: 20vh;
  }
}

.manual-carousel-container {
  margin-top: 20px; /* Default margin */
}

@media (max-width: 768px) {
  .manual-carousel-container {
    margin-top: 10px; /* Reduced margin for mobile screens */
  }
}

html {
  scroll-behavior: smooth;
}
.product-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrer verticalement le contenu */
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Réduire la largeur */
  height: 70%; /* Réduire la hauteur */
  overflow-y: auto;
  z-index: 1300;
}

.product-details-image {
  max-width: 60%;
  height: auto;
  border-radius: 10px;
}

.product-details-info {
  text-align: center;
  padding-bottom: 10%;
}

.size-selection {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.quantity-input {
  margin-top: 20px;
}

.add-to-cart {
  margin-top: 10px;
}

.btn-add-to-cart {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add-to-cart:hover {
  background-color: #0056b3;
}

/* Responsive design pour les écrans mobiles */
@media (max-width: 768px) {
  .product-details-content {
    width: 85%; /* Réduire la largeur pour les mobiles */
    height: 85%; /* Réduire la hauteur pour les mobiles */
  }

  .product-details-image {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .product-details-info {
    text-align: center;
  }

  .size-selection {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
  }

  .quantity-input {
    width: 100%;

  }

  .add-to-cart {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .btn-add-to-cart {
    width: 100%;
  }
}/* --- Tooltip --- */
.tooltip {
  display: flex;
  position: fixed; /* Utilisation de fixed pour rester en place lors du défilement */
  top: 10px; /* Ajustez cette valeur selon votre besoin */
  left: 50%; /* Centré horizontalement */
  transform: translateX(-50%);
  padding: 10px;
  background-color: #ff6f61;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  z-index: 9999; /* Z-index élevé pour être sûr qu'il soit au-dessus de tout */
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
}

.tooltip-error {
  background-color: #d9534f;
  z-index: 10000; /* Optionnellement, assurez-vous que les erreurs soient aussi en haut */
}

.tooltip-succes {
  background-color: #28a745;
  z-index: 10000; /* Optionnellement, pour les succès */
}
.MuiAppBar-root {
  z-index: 1 !important; /* Si votre header utilise un z-index plus élevé */
}

