/* Styles généraux pour la page */
.container {
  height: auto;
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: #f7f7f7;
  overflow-y: auto;
  max-height: 100vh;
}

/* Section héro */
.heroSection {
  background: linear-gradient(135deg, #c8e6c9, #f1f8e9);
  padding: 50px 20px;
  border-radius: 12px;
  color: white;
  margin-bottom: 2rem;
}

/* Animations */
.fadeIn {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  opacity: 0;
}

/* Styles de la carte d'information */
.infoCard {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-right: 20%;
  margin-left: 20%;
  transition: transform 0.3s ease;
}

/* Survol des cartes */
.infoCard:hover {
  transform: translateY(-5px);
}

/* Effets de survol */
.featureBox {
  background-color: #e8f5e9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.featureBox:hover {
  background-color: #c8e6c9;
  cursor: pointer;
}

.featureHover {
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

/* Images */
.image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
  
  /* Vision box */
  .visionBox {
    background-color: #f1f8e9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Bouton "Rejoindre" */
  .joinButton {
    background-color: #b88b4a; /* Doré pour le bouton */
    color: white;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .joinButton:hover {
    background-color: #f1c40f; /* Doré plus lumineux */
    transform: scale(1.1);
  }
  
  