/* global.css */


/* Importation de Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'slick-carousel/slick/slick.css'; 
@import 'slick-carousel/slick/slick-theme.css';

/* Styles généraux pour l'application */
body {
  min-width: 450px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  position: relative; /* Assurez-vous que le contexte de la page permet une superposition correcte */
  z-index: 1;
}
/* Définir un comportement de défilement fluide */
html {
    scroll-behavior: smooth;
  }

  div.css-1bupzq4-MuiContainer-root {
    padding-left: 1px;
    padding-right: 1px;
}
  @media (min-width: 1200px){
  main.css-19xko21-MuiContainer-root{
    width: 100%;    
  }
}

@media (max-width: 1200px){
  div.css-1bupzq4-MuiContainer-root{
    width: 500px;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glitterEffect {
  0% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);  /* Effet d'étincelles */
  }
  25% {
    opacity: 0.9;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);  /* Effet d'étincelles */
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 40px rgba(255, 255, 255, 0.5);  /* Effet d'étincelles */
  }
  75% {
    opacity: 0.9;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.3);  /* Effet d'étincelles */
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.5);  /* Effet d'étincelles */
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a73e8; /* couleur de fond de la bannière */
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  z-index: 1000;
  animation: slideIn 1s ease-out forwards, glitterEffect 2s linear infinite; /* Animation de scintillement plus lente */
}

.banner.hide {
  animation: fadeOut 1s forwards;
}

.reassurances-container {
  padding-left: 0;
  width: fit-content;
  margin: auto;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 130px);
  column-gap: 15px;
}

@media (min-width: 640px) {
  .reassurances-container {
    grid-template-columns: repeat(2, 130px);
  }
}

@media (min-width: 1024px) {
  .reassurances-container {
    grid-template-columns: repeat(4, 130px);
  }
}
